#background {
    background: url('../../images/backgrounds/normal.jpg') repeat-x;
    background-size: cover;
    height: 100vh;

}

@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -6500px 0;
    }
}

.pause {
    animation-play-state: paused !important;
}

.animation {
    animation: backgroundScroll 20s linear infinite
}